body {
  background:#fff;
  font-family: sans-serif;
  font-size: 14px;
}
/* Font sizes */
h1 {
  font-size: 28px;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  font-weight: bold;
}
h3 {
  font-size: 16px;
  font-weight: bold;
}
.layout-menu {
  font-size: 16px;
  background-color: #DEDEDE;
}


.layout-outer {
  background:#fff;    /* right column background colour */
}
.layout-outer .layout-inner {
  background:#DEDEDE; /* left column background colour */
  border-right: 1px solid black;
}

/* Header elements */
.layout-header {
  background-color:#FFF;
  border-bottom:thin solid #000;
  text-align: left; 
  padding:5px; 
  margin-right:20px
}

/* Menus */
.layout-menu ul {
  list-style-type: none;
  padding-left: 0em;
}
.layout-menu ul ul {
  list-style-type: none;
  padding-left: 1em;
}

/* Footer */
.layout-footer {
  border-top:thin solid #000;
  border-bottom: thin solid #000;
  box-shadow: 5px 5px 5px #888888;
}
.layout-footer p {
  padding:10px;
  margin:0;
}

/* Page content */
.layout-content {
}

/* Data Tables */
table.data {
  width: 90%;
  margin: 10px;
  border: thin solid black;
  border-collapse: collapse;
}

table.data th, table.data td {
  text-align: left;
  border: thin solid black;
  padding: 4px;
}

/* Forms using tables for layout */
th.prompt {
  text-align: right;
}

td.input {
  text-align: left;
}

/* Spesifikt for lærer: */
#grey_pictureframe{background-color: grey;height: 100px;width: 100px;}

#Blueindex{background-color: lightskyblue;height: 300px;width: 200px;alignment-adjust: left;clear: both;display: inline-block;margin: 0px;padding: 0px;}

#Blue{background-color: lightskyblue;height: 150px;width: 150px;alignment-adjust: left;clear: both;display: inline-block;margin: 0px;padding: 0px;}
#Red{background-color: red;height: 150px;width: 150px;alignment-adjust: center;clear: both;display: inline-block;}
#Green{background-color: green;height: 150px;width: 150px;alignment-adjust: right;clear: both;display: inline-block;}

#module_square{
display: table-cell;

vertical-align:middle;
font-family: serif;
font-size: 60px;
font-weight: bold;
margin-right: 10px;
width: 90px;
height: 90px;
box-shadow: 4px 4px 2px #888888;
border-radius: 5px;
text-align: center;
border: solid 1px;
};


.buttons input {
    margin: 5px;
    padding: 5px 5px 5px 20px; /* 20px makes room for your background image */
    border: 1px solid #aaa;
}

.buttons .button {
    display: table-cell;
    vertical-align:middle;
    font-family: serif;
    font-size: 60px;
    font-weight: bold;
    margin-right: 10px;
    width: 90px;
    height: 90px;
    box-shadow: 4px 4px 2px #888888;
    border-radius: 5px;
    text-align: center;
    border: solid 1px;
    text-decoration: none;
    color: black;
} 